@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/Roboto-Black.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/Roboto-BlackItalic.ttf') format('ttf');
}
*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  color: #262626;
}
header {
  width: 100%;
  max-height: 20%;
  background-color: #eef2f4;
  text-align: center;
}
h1 {
  max-width: 60%;
  margin: 0 auto;
  padding: 1.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.visually-hidden {
  display: none;
}
.text-area {
  margin: 1% auto 0;
  width: 40%;
  color: #262626;
  border: 1px solid #dcdfe7;
}
.text-area__inside {
  margin: 0 auto;
  width: 80%;
}
.text-area__inside-textarea {
  margin: 3% auto 0;
  padding: 3%;
  font-size: 14px;
  width: 100%;
  border: none;
  outline: none;
}
.text-area__inside-textarea:focus {
  outline: 1px solid #315efb;
}
.text-area__button {
  margin: 2% auto 4%;
  width: 100%;
  height: 35px;
  background-color: #315efb;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  color: #ffffff;
  transition: all 0.2s ease;
}
.text-area__button:hover {
  background-color: #053af4;
}
.link {
  margin: 1% auto 0;
  width: 40%;
  border: 1px solid #dcdfe7;
  font-size: 14px;
  text-align: left;
}
.link__legend {
  margin-left: 13%;
  color: #262626;
}
.link__block {
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 13%;
  font-size: 16px;
}
.link__a {
  color: #315efb;
  text-decoration: none;
  transition: all 0.2s ease;
}
.link__a:hover {
  text-decoration: underline;
}
.demonstration {
  margin: 1% auto 0;
  width: 40%;
  border: 1px solid #dcdfe7;
  font-size: 14px;
  text-align: left;
}
.demonstration__button-block {
  margin: 0 auto;
  width: 80%;
}
.demonstration__button {
  margin: 3% auto;
  width: 100%;
  height: 35px;
  background-color: #315efb;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  color: #ffffff;
  transition: all 0.2s ease;
}
.demonstration__button:hover {
  background-color: #053af4;
}
.buffer {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
.buffer:hover {
  display: none;
}
.buffer__input {
  cursor: default;
  max-width: 150px;
}
.buffer__input:hover {
  cursor: default;
  display: none;
}
.backdrop-primary {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 59, 76, 0.95);
}
.close-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: inherit;
  background-image: url("../img/4115230-cancel-close-cross-delete_114048.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.close-button:hover {
  background-image: url("../img/4115230-cancel-close-cross-delete_114048_2.svg");
}
.close-button-info {
  top: 3.7%;
}
.attention {
  position: absolute;
  display: inline-block;
  margin-top: -10px;
  width: 250px;
  min-height: 90px;
  font-size: 12px;
  text-align: left;
  pointer-events: none;
}
.attention__text-container {
  position: absolute;
  display: none;
  width: inherit;
  background-color: #ffffff;
  box-shadow: 0 0 5px #262626;
}
.attention__text-block {
  width: 230px;
  padding: 10px;
  margin-left: auto;
}
.attention__symbol {
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  background-image: url("../img/3643776-caution-exclamation-mark-round-sign_113410.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border-radius: 50%;
  z-index: 999;
  pointer-events: auto;
}
.attention__symbol:hover + .attention__text-container {
  display: block;
}
.arrow {
  background-image: url("../img/down_icon-icons.com_61209.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  transition: transform 0.5s;
  transform: rotate(0deg);
}
.arrow-alert {
  background-image: url("../img/down_icon-icons.com_61209_red.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  transition: transform 0.5s;
  transform: rotate(0deg);
}
.arrow-rotate {
  transition: transform 0.5s;
  transform: rotate(-90deg);
  background-image: url("../img/down_icon-icons.com_61209_2.svg");
}
.arrow-rotate-alert {
  transition: transform 0.5s;
  transform: rotate(-90deg);
  background-image: url("../img/down_icon-icons.com_61209_red_2.svg");
}
.snackbar {
  visibility: hidden;
  width: 12%;
  height: 5%;
  position: fixed;
  right: 1%;
  bottom: 2%;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  pointer-events: none;
}
.show {
  visibility: visible;
  animation: fadein 0.3s, fadeout 0.3s 1s;
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 2%;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 2%;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.error-window {
  margin: 10% auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 310px;
  height: 160px;
  border: none;
  background-color: #ffffff;
}
.error-window__main-part {
  box-sizing: border-box;
  width: 80%;
  height: 90%;
  margin: auto;
  text-align: left;
}
.error-window__text-error {
  padding-top: 10%;
  font-size: 24px;
  font-weight: 500;
}
.error-window__text-text {
  padding-top: 5%;
  font-size: 13px;
}
.error-window__button-ok {
  width: 100%;
  height: 35px;
  margin-top: 10%;
  background-color: #315efb;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  color: #ffffff;
  transition: all 0.2s ease;
}
.error-window__button-ok:hover {
  background-color: #053af4;
}
.demonstration-window {
  max-width: 90%;
  max-height: 95%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
}
.demonstration-window__inside-block {
  width: 95%;
  height: 95%;
  margin-top: 1%;
  margin-left: 1%;
}
.demonstration-window__image-block {
  background-color: #eef2f4;
  border-top: 1px solid #262626;
  border-right: none;
  border-bottom: 1px solid #262626;
  border-left: 1px solid #262626;
}
.demonstration-window__text-block {
  border: 1px solid #262626;
  font-size: 14px;
  background-color: #eef2f4;
}
.demonstration-window__image {
  width: 98%;
  height: 75%;
  margin: 2% 1% auto 1%;
  border: 1px solid #262626;
}
.demonstration-window__text-block {
  width: 100%;
  padding: 5% 1% 2% 4%;
  text-align: left;
}
.demonstration-window__swipe-left {
  position: absolute;
  width: 32%;
  height: 10%;
  left: 3%;
  top: 50%;
  bottom: 50%;
  background-color: transparent;
  background-image: url("../img/keyboard-left-arrow-button_icon-icons.com_72692.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.demonstration-window__swipe-left:hover {
  background-image: url("../img/keyboard-left-arrow-button_icon-icons.com_72692_2.svg");
}
.demonstration-window__swipe-right {
  position: absolute;
  width: 32%;
  height: 10%;
  left: 38%;
  top: 50%;
  bottom: 50%;
  background-color: transparent;
  background-image: url("../img/keyboard-right-arrow-button-1_icon-icons.com_72690.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.demonstration-window__swipe-right:hover {
  background-image: url("../img/keyboard-right-arrow-button-1_icon-icons.com_72690_2.svg");
}
.info-window {
  max-width: 65%;
  max-height: 95%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  overflow: scroll;
  overflow-x: hidden;
}
.info-window__info {
  max-width: 90%;
  max-height: 80%;
  margin: 2% auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: left;
}
.copy {
  transition: all 0.2s ease;
  cursor: pointer;
}
.copy:hover {
  color: #315efb;
}
.header {
  margin-top: 3%;
  font-size: 26px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.header-extract {
  margin-top: 0;
  margin-top: 3%;
  font-size: 26px;
  transition: all 0.2s ease;
}
.header-roll {
  color: #727272;
}
.header:hover {
  color: #727272;
}
.header:hover .arrow {
  transition: all 0.2s ease;
  background-image: url("../img/down_icon-icons.com_61209_2.svg");
}
.header-alert {
  margin-top: 3%;
  font-size: 26px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #ff0000;
}
.header-alert:hover {
  color: #ff6666;
}
.header-alert:hover .arrow-alert {
  transition: all 0.2s ease;
  background-image: url("../img/down_icon-icons.com_61209_red_2.svg");
}
.header-alert-roll {
  color: #ff6666;
}
.header-two {
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 20px;
}
.header-two-alert {
  color: #ff0000;
}
.subheader {
  color: #262626;
  padding: 1%;
  border-bottom: 1px solid #cccccc;
}
.main-info {
  padding: 1%;
  font-weight: 700;
  border-bottom: 1px solid #cccccc;
}
.main-info-alert {
  color: #ff0000;
  font-weight: 500;
  padding: 1%;
  border-bottom: none;
}
.main-info-coincid {
  padding: 1%;
  border-bottom: 1px solid #cccccc;
}
.alert-info {
  color: #ff0000;
  font-size: 22px;
  font-weight: 500;
}
.alert-text {
  color: #ff0000;
  font-weight: 700;
}
.grid-container-st {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 0;
}
.grid-container-st__single {
  grid-column-start: 1;
  grid-column-end: 7;
}
.grid-container-st__left {
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-container-st__right {
  grid-column-start: 3;
  grid-column-end: 7;
}
.grid-container-st__right-spec {
  grid-column-start: 3;
  grid-column-end: 5;
}
.grid-container-spec {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 0;
}
.grid-container-spec__left {
  grid-column-start: 1;
  grid-column-end: 7;
}
.grid-container-spec__right {
  grid-column-start: 7;
  grid-column-end: 9;
}
.add-padd {
  padding-top: 1%;
}
.add-marg {
  margin-top: 1%;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #e9e9e9;
  border-radius: 1px;
  transition: all 0.2s ease;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b6b6b6;
}
::-webkit-scrollbar-button:vertical:start:decrement {
  background-color: #e9e9e9;
}
::-webkit-scrollbar-button:vertical:end:increment {
  background-color: #e9e9e9;
}
